.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    height: 70px;
}

.navbar-right {
    margin-top: 10px;
    margin-right: 55px;
}

.navbar>.container-fluid .navbar-brand {
    margin-left: 35px;
}

.navbar-inverse .navbar-nav>li>a {
    background-color: #222222;
    color: #b9b8b8;
    font-weight: bolder;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #FAD84B;
    background-color: #383838;
}

/* header done */

.bottom {
    background-color: #262626;
    padding: 30px 0px;
    color: rgb(214, 210, 210);
    font-size: 15px;
    font-weight: bolder;
}

.left {
    padding-left: 30px;
}

.right {
    padding-right: 50px;
}

.a1 {
    color: rgb(214, 210, 210);
    font-size: 15px;
    font-weight: bolder;
    margin-left: 13px;
}

.a1:focus,
.a1:hover {
    color: #FAD84B;
    text-decoration: none;
}

.a2 {
    color: #FAD84B;
    font-weight: bolder;
    margin-left: 13px;
}

.a2:focus,
.a2:hover {
    color: #FAD84B;
    text-decoration: none;
}

.fab {
    font-size: 20px;
    font-weight: bolder;
}

/* div bottom done */

.p0 {
    padding-left: 0px;
    padding-right: 0px;
}

.m0 {
    margin-left: 0px;
    margin-right: 0px;
    width: 100vw;
}

.footer {
    background-color: #ECECEC;
    height: 55px;
    display: flex;
    align-items: center;
}

.f1 {
    padding-left: 40px;
}

.f2 {
    padding-right: 50px;
}

.a3 {
    color: #3B4141;
}

.a3:focus,
.a3:hover {
    color: rgb(173, 173, 173);
    text-decoration: none;
}

/* footer done */

.img {
    margin-top: 70px;
    background-image: url(../images/contact.jpg);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #FAD84B;
    font-weight: bolder;
    font-size: 40px;
    opacity: 0.8;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    font-weight: bolder;
    padding-top: 15px;
}

.email {
    padding-bottom: 30px;
}

/* contact page done */

.img1 {
    margin-top: 70px;
    background-image: url(../images/aboutus.jpg);
    height: 60vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #FAD84B;
    font-weight: bolder;
    font-size: 40px;
}

.t1 {
    padding-bottom: 20px;
}

.p1 {
    color: rgb(110, 101, 101);
}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px) {
    .left {
        padding-left: 0px;
    }

    .right {
        padding-right: 0px;
        padding-top: 20px;
    }

    .left,
    .right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer {
        height: 150px;
        text-align: center;
    }

    .f1 {
        padding-bottom: 10px;
        padding-left: 0px;
    }

    .f2 {
        text-align: center;
        padding-right: 0px;
    }

}

@media only screen and (max-width : 767px) {
    .navbar {
        width: 100vw;
    }

    .navbar-toggle {
        margin-top: 18px;
        margin-right: 30px;
    }

    .navbar-nav {
        margin-top: 0px;
    }

    .navbar-right {
        margin-top: 0px;
    }

    .navbar>.container-fluid .navbar-brand {
        margin-left: 15px;
    }

    .navbar-header {
        height: 65px;
    }

    .top {
        padding-top: 10px;
    }

    .footer {
        height: 150px;
        font-size: 13px;
        text-align: center;
    }

    .f1 {
        padding-bottom: 10px;
        padding-left: 0px;
    }

    .f2 {
        text-align: center;
        padding-right: 0px;
    }
}