body {
    background-image: url('../images/forma.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

.p0 {
    padding-left: 0px;
    padding-right: 0px;
    width: 100vw;
}

.m0 {
    margin-left: 0px;
    margin-right: 0px;
    width: 100vw;
}

.box {
    background-color: LemonChiffon;
    color: rgb(82, 1, 117);
    padding: 20px 25px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(82, 1, 117) Gold Gold rgb(82, 1, 117);
    border-width: 3px;
}

.form-control {
    border-color: DarkMagenta;
}

.left {
    margin-left: 20px;
}

.form-control:focus {
    border-color: rgb(252, 214, 3);
}

::placeholder {
    color: darkmagenta !important;
}

select {
    padding: 4px;
    border-radius: 4px;
    background-color: white;
    border-color: DarkMagenta;
}

select:focus {
    outline: none;
}

.btn-default,
.btn-default:hover,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:focus {
    background-color: rgb(82, 1, 117);
    border-color: rgb(82, 1, 117);
    color: yellow;
    font-weight: bolder;
    outline-color: darkmagenta;
}

@media only screen and (min-width : 992px) and (max-width : 1124px) {

    .form-control,
    select {
        height: 25px;
        padding: 3px 6px;
        font-size: 12px;
    }

}

@media only screen and (max-width : 767px) {

    body {
        height: 130vh;
    }

    .height {
        height: 100vh;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box {
        margin-left: 0vh;
    }

    .form-group {
        margin-bottom: 7px;
    }

    .left {
        margin-left: 0px;
    }

    .form-control,
    select {
        height: 25px;
        padding: 3px 6px;
        font-size: 12px;
    }
}