.p0 {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100vw;
}

.m0 {
    margin-left: 0px;
    margin-right: 0px;
}

html,
body {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

.borders {
    border-top: 1px solid #4E007D;
    border-bottom: 1px solid #4E007D;
}

.top {
    background-color: #4E007D;
    border-bottom: 1px solid rgb(65, 0, 102);
    padding: 15px 0px;
}

.center {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-menu1,
.btn-menu1:hover,
.btn-menu1:active,
.btn-menu1:focus,
.btn-menu1:active:focus {
    background-color: #4E007D;
    color: #FAD84B;
    border-color: #4E007D;
    outline: none;
    font-size: 17px;
}

.glyphicon-menu-hamburger {
    margin-right: 5px;
}

.head {
    display: flex;
    align-items: center;
    border-bottom: none;
}

.item1,
.item2 {
    width: 50%;
}

.head .close {
    font-size: 18px;
    opacity: 1;
    display: flex;
    align-items: center;
    outline: none;
}

.head .close:focus,
.head .close:hover {
    opacity: 1;
    color: rgb(80, 73, 73);
}

.head span {
    font-size: 35px;
    margin-right: 5px;
}

.modal-body {
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.modal-backdrop.in {
    z-index: 1;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.a1 {
    color: #FAD84B;
    font-weight: bold;
}

.a1:focus,
.a1:hover {
    color: rgb(250, 202, 11);
    text-decoration: none;
}

.a2 {
    color: black;
    font-weight: bold;
}

.a2:focus,
.a2:hover {
    color: rgb(77, 70, 70);
    text-decoration: none;
}

.modal-content {
    border-radius: 0px;
    width: 60%;
    height: 100vh;
}

.modal-dialog {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
}

.logo {
    width: 150px;
}

/* menu and logo done */

.btn1,
.btn1:hover,
.btn1.btn-default:active,
.btn1.btn-default:focus {
    background-color: #FAD84B;
    border-color: #FAD84B;
    color: black;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

.btn2,
.btn2:hover,
.btn2.btn-default:active,
.btn2.btn-default:focus {
    background-color: black;
    border-color: black;
    color: #FAD84B;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

/* done btn1 i btn2 */

.made-by {
    margin-top: 50px;
    background-color: #4E007D;
    color: white;
    padding-top: 45px;
    padding-bottom: 15px;
}

.a3,
.a3:hover,
.a3:focus {
    color: #FAD84B;
    text-decoration: underline;
    font-weight: bold;
}

.future-proof {
    background-color: #4E007D;
    color: white;
    padding-bottom: 55px;
}

.p-top {
    padding-top: 30px;
}

.p1 {
    padding-bottom: 10px;
}

.btn3,
.btn3:hover,
.btn3.btn-default:active,
.btn3.btn-default:focus {
    font-size: 15px;
    font-weight: bold;
    padding: 8px 12px;
    background-color: #FAD84B;
    border-color: #FAD84B;
    color: black;
}


/* made-by and future-proof done */

.bg-up {
    box-sizing: border-box;
    width: 100%;
    height: 45vh;
    background-image: -webkit-linear-gradient(97deg, white 35.5%, #4E007D 36.1%);
    z-index: -1;
}

.bg-down {
    box-sizing: border-box;
    width: 100%;
    height: 45vh;
    margin-top: -45vh;
    background-image: -webkit-linear-gradient(95deg, #4E007D 44%, white 44.49%);
    z-index: -1;
}


/* triangle background done */

.wrap {
    display: flex;
    flex-wrap: wrap;
}

div.clickable {
    position: relative;
}

div.clickable a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
}

.card-box1 {
    background-color: white;
    box-shadow: 1px 1px 8px rgb(180, 180, 180);
    border-radius: 10px;
    padding-bottom: 20px;
    margin: 30px 12px 0px 24px;
    z-index: 2;

}

.card-box2 {
    background-color: white;
    box-shadow: 1px 1px 8px rgb(180, 180, 180);
    border-radius: 10px;
    padding-bottom: 20px;
    margin: 30px 18px 0px 18px;
    z-index: 1;

}

.card-box3 {
    background-color: white;
    box-shadow: 1px 1px 8px rgb(180, 180, 180);
    border-radius: 10px;
    padding-bottom: 20px;
    margin: 30px 24px 0px 12px;
}

.card .img1 {
    background-image: url(../images/img1.jpg);
}

.card .img2 {
    background-image: url(../images/img2.jpg);
}

.card .img3 {
    background-image: url(../images/img3.jpg);
}

.card .img4 {
    background-image: url(../images/img4.jpg);
}

.card .img5 {
    background-image: url(../images/img5.jpg);
}

.card .img6 {
    background-image: url(../images/img6.jpg);
}

.card .img7 {
    background-image: url(../images/img7.jpg);
}

.card .img8 {
    background-image: url(../images/img8.jpg);
}

.card .img9 {
    background-image: url(../images/img9.jpg);
}

.card .img10 {
    background-image: url(../images/img10.jpg);
}

.card .img11 {
    background-image: url(../images/img11.jpg);
}

.card .img12 {
    background-image: url(../images/img12.jpg);
}

.card .img13 {
    background-image: url(../images/img13.jpg);
}

.card .img14 {
    background-image: url(../images/img14.jpg);
}

.card .img15 {
    background-image: url(../images/img15.jpg);
}

.card .img16 {
    background-image: url(../images/img16.jpg);
}

.card .img17 {
    background-image: url(../images/img17.jpg);
}

.card .img18 {
    background-image: url(../images/img18.jpg);
}

.card .img1,
.card .img2,
.card .img3,
.card .img4,
.card .img5,
.card .img6,
.card .img7,
.card .img8,
.card .img9,
.card .img10,
.card .img11,
.card .img12,
.card .img13,
.card .img14,
.card .img15,
.card .img16,
.card .img17,
.card .img18 {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text h5,
.text a {
    font-weight: bolder;
}

.text h5 {
    margin: 0px;
    padding-bottom: 5px;
}

.text .a4 {
    color: #55D4D8;
}

.text .left {
    width: 70%;
    padding-left: 20px;
}

.text .right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    width: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.game-logo {
    width: 50%;
    padding: 5px;
    background-color: #2F2F31;
    border-radius: 50%;
}

.game-logo .img-rounded {
    border-radius: 50%;
}

.text2 {
    padding-left: 20px;
}

.time {
    font-size: 25px;
}

.time-text {
    font-size: 14px;
    font-weight: bolder;
    padding-left: 5px;
}

.hour {
    padding-left: 38px;
}

/* cards done */

.footer {
    background-color: #4E007D;
    padding: 10px 0px;
}

.links {
    margin-top: 10px;
}

.a4 {
    color: #D8C3E2;
    font-weight: bold;
    font-size: 14px;
}

.a4:hover,
.a4:focus {
    color: #D8C3E2;
    text-decoration: none;
}

.margins {
    margin-right: 20px;
    margin-left: 20px;
}

.fab {
    color: #FAD84B;
    font-size: 22px;
    margin-top: 10px;
}

.fa-linkedin-in,
.fa-twitter {
    margin-right: 25px;
}

/* footer done */

@media only screen and (min-device-width : 768px) and (max-device-width : 991px) {

    .logo {
        width: 120px;
    }

    .btn1,
    .btn1:hover,
    .btn1.btn-default:active,
    .btn1.btn-default:focus {
        padding: 5px;
        font-size: 10px;
        margin-right: 5px;
        margin-left: 25px;
    }

    .btn2,
    .btn2:hover,
    .btn2.btn-default:active,
    .btn2.btn-default:focus {
        padding: 5px;
        font-size: 10px;
        margin-right: 0px;
    }
}

@media only screen and (max-width : 767px) {

    .top {
        padding: 12px 0px;
    }

    .btn-menu1,
    .btn-menu1:hover,
    .btn-menu1:active,
    .btn-menu1:focus,
    .btn-menu1:active:focus {
        margin-left: 0px;
        font-size: 14px;
    }

    .logo {
        width: 90px;
    }

    .head .close {
        font-size: 14px;
    }

    .modal-content {
        width: 80%;
    }

    .top {
        border-bottom: 1px solid #4E007D;
    }

    .made-by {
        padding-bottom: 0px;
        padding-top: 10px;
    }

    .mobile-only {
        background-color: #4E007D;
        padding: 10px 0px;
    }

    .btn1,
    .btn1:hover,
    .btn1.btn-default:active,
    .btn1.btn-default:focus {
        padding: 5px;
        font-size: 10px;
    }

    .btn2,
    .btn2:hover,
    .btn2.btn-default:active,
    .btn2.btn-default:focus {
        padding: 5px;
        font-size: 10px;
        margin-right: 0px;
    }

    .future-proof {
        padding-bottom: 55px;
    }

    .future-proof h1 {
        font-size: 22px;
    }

    .btn3,
    .btn3:hover,
    .btn3.btn-default:active,
    .btn3.btn-default:focus {
        font-size: 10px;
        padding: 5px;

    }

    .bg-up {
        box-sizing: border-box;
        width: 100%;
        background-image: -webkit-linear-gradient(97deg, white 0%, white 0%);
        z-index: -1;
    }

    .bg-down {
        box-sizing: border-box;
        width: 100%;
        height: 0vh;
        margin-top: 0vh;
        background-image: -webkit-linear-gradient(95deg, white 44%, white 44.49%);
        z-index: -1;
    }

    .back1 {
        width: 100%;
        height: 65px;
        background-color: #4E007D;
        clip-path: polygon(100% 0, 0 0, 0 100%);
    }

    .back2 {
        width: 100%;
        height: 65px;
        background-color: #4E007D;
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
        margin-top: 20px;
    }

    .card-box1,
    .card-box2,
    .card-box3 {
        margin: 20px 10px 0px 10px;
    }

    .text p,
    .time-text,
    .hour {
        font-size: 13px;
    }

    .footer {
        padding: 0px;
    }

    .bottom1 {
        padding-bottom: 25px;
    }

    .bottom2 {
        padding-bottom: 35px;
    }
}