.p0 {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100vw;
}

.m0 {
    margin-left: 0px;
    margin-right: 0px;
}

html,
body {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

.background {
    background-image: url("../images/background.jpg");
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 64%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 64%, 0 100%);
    padding: 37vh 20px;
    width: 100%;
    position: absolute;
    background-size: cover;
}

.top {
    padding: 15px 0px;
}

.center {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-menu1,
.btn-menu1:hover,
.btn-menu1:active,
.btn-menu1:focus,
.btn-menu1:active:focus {
    background-color: transparent;
    color: #FAD84B;
    border-color: transparent;
    outline: none;
    font-size: 17px;
}

.glyphicon-menu-hamburger {
    margin-right: 5px;
}

.head {
    display: flex;
    align-items: center;
    border-bottom: none;
}

.item1,
.item2 {
    width: 50%;
}

.head .close {
    font-size: 18px;
    opacity: 1;
    display: flex;
    align-items: center;
    outline: none;
}

.head .close:focus,
.head .close:hover {
    opacity: 1;
    color: rgb(80, 73, 73);
}

.head span {
    font-size: 35px;
    margin-right: 5px;
}

.modal-body {
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.modal-backdrop.in {
    z-index: 1;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.a1 {
    color: #FAD84B;
    font-weight: bold;
}

.a1:focus,
.a1:hover {
    color: rgb(250, 202, 11);
    text-decoration: none;
}

.a2 {
    color: black;
    font-weight: bold;
}

.a2:focus,
.a2:hover {
    color: rgb(77, 70, 70);
    text-decoration: none;
}

.modal-content {
    border-radius: 0px;
    width: 60%;
    height: 100vh;
}

.modal-dialog {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
}

.logo {
    width: 150px;
}

/* menu and logo done */

.btn1,
.btn1:hover,
.btn1.btn-default:active,
.btn1.btn-default:focus {
    background-color: #FAD84B;
    border-color: #FAD84B;
    color: black;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

.btn2,
.btn2:hover,
.btn2.btn-default:active,
.btn2.btn-default:focus {
    background-color: black;
    border-color: black;
    color: #FAD84B;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

/* done btn1 i btn2 */

.name_of_game {
    color: black;
    font-weight: bold;
    padding: 20px 0px;
    margin-top: 80vh;
}

.gray {
    background-color: #EBEBEB;
    padding: 25px 0px;
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 15px;
}

.gray-icon {
    font-size: 22px;
    margin-right: 8px;
    color: black;
}

.gray-text {
    font-size: 15px;
    font-weight: bolder;
    color: black;
}

.gray p {
    margin-bottom: 0px;
}

.g-text {
    padding: 20px 0px;
}

.g-text h4 {
    margin-top: 0px;
    padding-top: 0px;
    font-weight: bolder;
    color: black;
}

hr {
    border-bottom: 1.5px solid #EBEBEB;
    margin-bottom: 0px;
}

/* game describe done */

.back {
    width: 100%;
    height: 30vh;
    background-color: #4E007D;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    margin-top: 50px;
}

.future-proof {
    background-color: #4E007D;
    color: white;
    padding-bottom: 55px;
}

.p-top {
    padding-top: 30px;
}

.p1 {
    padding-bottom: 10px;
}

.btn3,
.btn3:hover,
.btn3.btn-default:active,
.btn3.btn-default:focus {
    font-size: 15px;
    font-weight: bold;
    padding: 8px 12px;
    background-color: #FAD84B;
    border-color: #FAD84B;
    color: black;
}

/* future-proof done */

.footer {
    background-color: #4E007D;
    padding: 10px 0px;
}

.links {
    margin-top: 10px;
}

.a4 {
    color: #D8C3E2;
    font-weight: bold;
    font-size: 14px;
}

.a4:hover,
.a4:focus {
    color: #D8C3E2;
    text-decoration: none;
}

.margins {
    margin-right: 20px;
    margin-left: 20px;
}

.fab {
    color: #FAD84B;
    font-size: 22px;
    margin-top: 10px;
}

.fa-linkedin-in,
.fa-twitter {
    margin-right: 25px;
}

/* footer done */

@media only screen and (min-device-width : 768px) and (max-device-width : 991px) {

    .logo {
        width: 120px;
    }

    .btn1,
    .btn1:hover,
    .btn1.btn-default:active,
    .btn1.btn-default:focus {
        padding: 5px;
        font-size: 10px;
        margin-right: 5px;
        margin-left: 25px;
    }

    .btn2,
    .btn2:hover,
    .btn2.btn-default:active,
    .btn2.btn-default:focus {
        padding: 5px;
        font-size: 10px;
        margin-right: 0px;
    }

    .gray {
        text-align: left;
        padding-left: 20px;
    }

    .tablet {
        margin-top: 15px;
    }

}


@media only screen and (max-width : 767px) {

    .hidden1 {
        margin-top: 70px;
    }

    .btn-menu1,
    .btn-menu1:hover,
    .btn-menu1:active,
    .btn-menu1:focus,
    .btn-menu1:active:focus {
        font-size: 14px;
    }

    .logo {
        width: 100px;
    }

    .btn1,
    .btn1:hover,
    .btn1.btn-default:active,
    .btn1.btn-default:focus {
        padding: 5px;
        font-size: 10px;
    }

    .btn2,
    .btn2:hover,
    .btn2.btn-default:active,
    .btn2.btn-default:focus {
        padding: 5px;
        font-size: 10px;
        margin-right: 0px;
    }

    .background {
        padding: 30vh 20px;
    }

    .back {
        height: 25vh;
    }

    .modal-content {
        width: 80%;
    }

    .name_of_game {
        font-size: 26px;
        margin-top: 45vh;
    }

    .gray {
        text-align: left;
        padding-left: 20px;
    }

    .gray-icon {
        font-size: 20px;
    }

    .gray-text {
        font-size: 14px;
    }

    .mobile {
        margin-top: 25px;
    }

    .p-top {
        padding-top: 10px;
    }

    .footer {
        padding: 0px;
    }

    .bottom1 {
        padding-bottom: 25px;
    }

    .bottom2 {
        padding-bottom: 35px;
    }
}