<div class="container-fluid hidden-xs bottom">
    <div class="col-md-6 col-sm-12 hidden-xs left">
        <a href="aboutus.php" target="_blank" class="a1">За нас</a>
        <a href="contact.php" target="_blank" class="a1">Контакт</a>
        <a href="https://blog.brainster.co/" target="_blank" class="a1">Блог</a>
        <a href="https://brainster.co/courses#!/grid/infinite/throttle:30/threshold:30/" target="_blank" class="a1">Курсеви</a>
        <a href="https://brainster.co/faq" target="_blank" class="a1">ЧПП</a>
        <a href="https://blog.brainster.co/brainster-%D0%B2%D0%BE-%D0%BC%D0%B5%D0%B4%D0%B8%D1%83%D0%BC%D0%B8%D1%82%D0%B5/"
            target="_blank" class="a1">Во медиумите</a>
    </div>
    <div class="col-md-6 col-sm-12 hidden-xs text-right right">
        Следи не:
        <a href="https://www.facebook.com/brainster.co" target="_blank" class="a2"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/BrainsterCo" target="_blank" class="a2"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.linkedin.com/school/brainster-co/" target="_blank" class="a2"><i class="fab fa-linkedin"></i></a>
    </div>
</div>

<div class="container-fluid hidden-lg hidden-md hidden-sm bottom text-center">
    <div class="hidden-lg hidden-md hidden-sm col-xs-12">
        <a href="aboutus.php" target="_blank" class="a1">За нас</a>
        <a href="contact.php" target="_blank" class="a1">Контакт</a>
        <a href="https://blog.brainster.co/" target="_blank" class="a1">Блог</a>
    </div>
    <div class="hidden-lg hidden-md hidden-sm col-xs-12 top">
        <a href="https://brainster.co/courses#!/grid/infinite/throttle:30/threshold:30/" target="_blank" class="a1">Курсеви</a>
        <a href="https://brainster.co/faq" target="_blank" class="a1">ЧПП</a>
        <a href="https://blog.brainster.co/brainster-%D0%B2%D0%BE-%D0%BC%D0%B5%D0%B4%D0%B8%D1%83%D0%BC%D0%B8%D1%82%D0%B5/"
            target="_blank" class="a1">Во медиумите</a>
    </div>
    <div class="hidden-lg hidden-md hidden-sm col-xs-12 top">
        Следи не:
        <a href="https://www.facebook.com/brainster.co" target="_blank" class="a2"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/BrainsterCo" target="_blank" class="a2"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.linkedin.com/school/brainster-co/" target="_blank" class="a2"><i class="fab fa-linkedin"></i></a>
    </div>
</div>

<div class="container-fluid footer p0">
    <div class="row m0">
        <div class="col-md-4 col-sm-12 col-xs-12 f1">
            <a href="https://brainster.co/" target="_blank"><img src="images/brainster.png" height="35px"></a>
            <span>ЦБЦ КОЛЕКТИВ ДОО</span>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 text-center">
            <p>ул. Востаничка 140, 1000 Скопје, тел. +38970384728</p>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 text-right f2">
            <p><a href="https://brainster.co/privacy" target="_blank" class="a3">Политика за приватност</a> / <a href="https://brainster.co/terms"
                    target="_blank" class="a3">Услови на употреба</a></p>
        </div>
    </div>
</div>