<div class="container-fluid p0">
    <div class="col-lg-12 col-md-12 col-sm-12  hidden-xs bg-down">

    </div>
</div>
<div class="container-fluid p0">
    <div class="hidden-lg hidden-md hidden-sm back2">

    </div>
</div>
<div class="container-fluid future-proof borders p-top p0">
    <div class="row m0">
        <div class="col-md-12 text-center">
            <h1>FUTURE-PROOF YOUR ORGANIZATION</h1>
        </div>
    </div>
    <div class="row m0">
        <div class="col-md-6 col-md-offset-3 text-center">
            <p class="p1">Find out how to unlock progress in your business. Understand your current state, identify
                opportunity areas and prepare to take charge of your organization's future.</p>
        </div>
    </div>
    <div class="row m0">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a class="btn btn-default btn3" href="https://brainsterquiz.typeform.com/to/kC2I9E" target="_blank" role="button">Take
                the assessment</a>
        </div>
    </div>
</div>

<div class="container-fluid p0 footer borders text-center">
    <div class="row center m0">
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs links flex">
            <a href="aboutus.php" target="_blank" class="a4">About us</i></a>
            <a href="contact.php" target="_blank" class="a4 margins">Contact</a>
            <a href="https://www.facebook.com/pg/brainster.co/photos/" target="_blank" class="a4">Gallery</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs flex">
            <a href="#top"><img src="images/logo.png" class="logo" /></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs flex">
            <a href="https://www.linkedin.com/school/brainster-co/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://twitter.com/BrainsterCo" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/brainster.co" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid p0 footer text-center">
    <div class="row m0 p-bottom">
        <div class="hidden-lg hidden-md hidden-sm col-xs-12 bottom1">
            <a href="https://www.linkedin.com/school/brainster-co/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://twitter.com/BrainsterCo" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/brainster.co" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
    <div class="row m0">
        <div class="hidden-lg hidden-md hidden-sm col-xs-12 links bottom2">
            <a href="aboutus.php" target="_blank" class="a4">About us</i></a>
            <a href="contact.php" target="_blank" class="a4 margins">Contact</a>
            <a href="https://www.facebook.com/pg/brainster.co/photos/" target="_blank" class="a4">Gallery</a>
        </div>
    </div>
    <div class="row m0 p-bottom">
        <div class="hidden-lg hidden-md hidden-sm col-xs-12 flex bottom2">
            <a href="#top"><img src="images/logo.png" class="logo" /></a>
        </div>
    </div>
</div>