<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://brainster.co/" target="_blank"><img src="images/logo.png" height="40px"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="contact.php">Контакт</a></li>
                <li><a href="aboutus.php" target="_blank">За нас</a></li>
                <li><a href="registration.php" target="_blank"><span class="glyphicon glyphicon-user"></span>
                        Регистрирај се</a></li>
                <li><a href="login.php" target="_blank"><span class="glyphicon glyphicon-log-in"></span> Најави се</a></li>
            </ul>
        </div>
    </div>
</nav>