<div class="background"> </div>
<div class="container-fluid p0 " id="top">
    <div class="box-top top  row center m0 navbar-fixed-top">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-menu1" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-menu-hamburger"></span> Мени
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header head">
                            <div class="item1">
                                <a href="https://brainster.co/" target="_blank"><img src="images/logo.png" class="logo"/></a>
                            </div>
                            <div class="item2">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span> Затвори</button>
                            </div>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="registration.php" target="_blank" class="a1">Регистрирај се</a></li>
                                <li class="list-group-item"><a href="login.php" target="_blank" class="a1">Најави се</a></li>
                                <li class="list-group-item"><a href="aboutus.php" target="_blank" class="a2">За нас</a></li>
                                <li class="list-group-item"><a href="https://www.facebook.com/pg/brainster.co/photos/" target="_blank" class="a2">Галерија</a></li>
                                <li class="list-group-item"><a href="contact.php" target="_blank" class="a2">Контакт</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-lg-offset-3 col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-3 col-xs-2 col-xs-offset-3 flex">
            <a href="#top"><img src="images/logo.png" class="logo" /></a>
        </div>
        <div class="col-lg-5 col-md-5 hidden-xs text-right">
            <a class="btn btn-default btn1" href="https://www.brainster.io/business" target="_blank" role="button">Обуки
                за компании</a>
            <a class="btn btn-default btn2" href="https://www.brainster.io/business" target="_blank" role="button">Вработи
                наши студенти</a>
        </div>
    </div>
    <div class="row hidden1 m0">
        <div class="hidden-lg hidden-md hidden-sm col-xs-12 text-center mobile-only">
            <a class="btn btn-default btn1" href="https://www.brainster.io/business" target="_blank" role="button">Обуки
                за компании</a>
            <a class="btn btn-default btn2" href="https://www.brainster.io/business" target="_blank" role="button">Вработи
                наши студенти</a>
        </div>
    </div>
</div>